.okk{
    margin-left: 130px;
    margin-top: 80px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.oo{
    padding-left: 130px;
    padding-right: 300px;
    padding-bottom: 100px;
}